.FormCard {
    display: flex;
    justify-content: center;
    margin: 10%;
}

.FormCard input {
    margin-top: 2px;
    margin-bottom: 2px;
    color: white !important;
    
}

.FormCard input::placeholder {
    color: white;
}

.FormCard form {
    margin: auto;
}

.FormCard .card-title {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.FormCard button{
    float: right;
}
