

#MusicGrid td:hover {
    border: 1px #FBFAF8 solid;
}

#MusicGrid tr {
    display: block;
    
}

#MusicGrid {
    border-spacing: 0px;
    border-collapse: separate;
    min-width: max-content;
    min-height: max-content;
    margin: auto;
    background-color: transparent;
}
    

.TableContainer {
    width: 75% !important;
    height: 93dvh !important;
    padding: 15px;
    display: inline-block;
    user-select: none;
    overflow: hidden;
    -webkit-user-select: none;
}

#Paths {
    
    width: 75% !important;
    height: 93dvh !important;
    scrollbar-width: thin;
    user-select: none;
    -webkit-user-select: none;
    background-color: transparent !important;
}

